@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div id="list-view" class="col-xs-3">
            <ul>
                <li id="list-view-search">
                    <noscript><h1>This page requires javascript.</h1></noscript>
                </li>
            </ul>
            <ul id="list-view-items"></ul>
        </div>
        <div class="row" id="right-view">
            <div id="head-view" class="col-xs-8">
                <div>
                </div>
            </div>
            
        </div>
    </div>
</div>