/* Smaller Screens */

@media (max-width: 864px) {
    /* Body */
    body {
        background-color: rgb(237,237,237);
        padding-bottom: 20px;
        overflow: hidden;
    }
    
    .body-content {
        padding-top: 50px;
        margin-left: 65px;
        padding-right: 15px;
    }

    /* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
    .dl-horizontal dt {
        white-space: normal;
    }

    /* Set width on the form input elements since they're 100% wide by default */
    input,
    select,
    textarea {
        max-width: 280px;
    }

    hr {
        border-top-color: rgb(166,140,105);
    }

    /* main colour of the top of the page */
    .navbar {
        padding-right: 5%;
        background-color: rgb(0,126,229);
    }

    /* (B) Logo */
    .navbar-inverse .navbar-brand {
        color: white;
        font-size: 30px;
    }

    /* (B) Logo on hover/focus */
    .navbar-inverse .navbar-brand:hover,
    .navbar-inverse .navbar-brand:focus {
        color: rgb(166,140,105);
        background-color: transparent;
    }

    /* The navigational links at the top of the page */
    .navbar-inverse .navbar-nav > li > a {
        color: rgb(89,68,51);
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        color: white;
    }

    /* The navigational links during hover/focus at the top of the page */
    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus {
        color: rgb(166,140,105);
        background-color: transparent;
    }

    .register-now, .register-now:hover, register-now:focus {
        background-color: rgb(0,126,229);
    }

    .register-now a {
        color: rgb(89,68,51);
        text-decoration: none;
    }

    .register-now a:hover,
    .register-now a:focus {
        color: rgb(166,140,105);
    }

    #list-view {
        border-radius: 2%;
        height: 85vh;
        top: 5px;
        left: 5px;
    }

    #main-view {
        margin-top: 100px !important;
        height: 55vh;
        left: 10px; 
        top: 5px;
        margin-top: 10vh;
        overflow-y:scroll;
        border-radius: 2%;
    }

    .post-image{
        padding-left: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 200px;
        width: auto;
    }

    #content_text{
        margin-top: 80px;
    }

    #head-view {
        padding-top: 10px;
        height: 19vh;
        min-height: 120px;
        left: 10px;
        top: 5px;
    }

    #chatBox{
        background-color: rgb(222,222,222);
        z-index: 5;
        margin-top: 0px !important;
    }

    #post-content{
        border: rgb(145, 199, 244) 2px solid;
        box-shadow: 0 0 1px #719ECE;
        resize: none;
    }

    #nav-button-friends, #nav-button-groups, #nav-button-events, #nav-button-chat, #nav-button-settings{
        height: 50px;
        width: 50px;
    }

    #nav-button-friends{
        background:transparent url('/Content/Assets/friends.png') center top no-repeat;
    }
    
    #nav-button-groups{
        background:transparent url('/Content/Assets/groups.png') center top no-repeat;
    }

    #nav-button-events{
        background:transparent url('/Content/Assets/events.png') center top no-repeat;
    }

    #nav-button-chat{
        background:transparent url('/Content/Assets/chat.png') center top no-repeat;
    }

    #nav-button-settings{
        position: fixed;
        bottom: 0px;
        left: 7px;
        background:transparent url('/Content/Assets/settings.png') center top no-repeat;
    }

    #nav-button-friends:hover{
        background:transparent url('/Content/Assets/friends-hover.png') center top no-repeat;
    }
    
    #nav-button-groups:hover{
        background:transparent url('/Content/Assets/groups-hover.png') center top no-repeat;
    }

    #nav-button-events:hover{
        background:transparent url('/Content/Assets/events-hover.png') center top no-repeat;
    }

    #nav-button-chat:hover{
        background:transparent url('/Content/Assets/chat-hover.png') center top no-repeat;
    }

    #nav-button-settings:hover{
        background:transparent url('/Content/Assets/settings-hover.png') center top no-repeat;
    }

    .sidebar-nav {
        position: absolute;
        right: 7px;
    }

    #sidebar-wrapper{
        background-color: rgb(0,126,229) !important;
    }

    .list-item, .content-item {
        list-style: none;
        font-size: 12px;
        left: -55px;
        background-color: rgb(233,233,233);
        border-radius: 2%;
        margin-left: -45px;
        margin-top: 5px;  
    }

    .post-profile-image, .list-item img{
        height: 50px;
        width: auto;
    }

    .post-profile-image{
        display: none;
    }

    .profile-header-image{
        height: 70px;
        width: auto;
    }

    .profile-header{
        display: inline-block;
        vertical-align: top;
        margin-left: 20px;
    }

    .profile-description, .profile-description-time{
        font-size: 10px;
        margin-left: 140px;
        bottom: 100px;
    }

    .profile-description-time{
        font-weight: bold;
    }

    #registerLink, #loginLink{
        color: white;
    }

    .feed-post{
        list-style: none;
        padding-bottom: 10px;
        border-radius: 2%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .list-name, .post-user-name{
        margin-left: 10px;
    }

   .post-user-name{
        font-weight: bold;
    }

    .fa{
        margin-left: 10px;
    }

    .post-text{
        margin-left: 80px;
        margin-bottom: 25px;
    }

    .new-post{
        float: right;
        margin-top: -60px;
    }

    .like-count{
        color: green;
    }

    .burst-count{
        color: red;
        position:absolute;
        left: 33px;
        top: 0px;
    }

    .feed-post, .burst-feed-post, .liked-feed-post{
        background-color: rgb(233,233,233);
        margin-bottom: 20px;
    }

    .liked-feed-post{
        border: 1px solid green;
    }

    .burst-feed-post{
        border: 1px solid red;
    }

    .bootstrap-filestyle{
        display: inline;
        left: 140px;
    }

    .btn{
        margin-top: 2px;
    }

    li{
        list-style-type: none;
    }

    #search-bar, .create-button{
        margin-top: 5px;
        margin-bottom: 5px;
        width: calc(100% + 50px); 
        margin-left: -46px;
    }

    .bootstrap-filestyle{
        left: 5px;
    }

    .btn-create{
        position: absolute;
        left: 230px !important;
    }

    .add-friend-img{
        position: relative;
        margin-left: 90%;
        top: -25px;
    }

    .friendrequest-icon-container{
        display: inline;
        padding-bottom: -50px;
    }

    a{ 
        cursor: pointer; 
    }
    
    .post-feedback{
        position: absolute;
        margin-top: -60px;
        padding-left: 5px !important;
    }

    .search-header{
        margin-left: -45px;
        padding-left: 10px;
        margin-top: 20px;
        padding-bottom: 10px;
        background-color: rgb(145, 199, 244);
    }
}


/* Regular size screens */

@media (min-width: 864px) {

    /* Body */
    body {
        background-color: rgb(237,237,237);
        padding-bottom: 20px;
        overflow: hidden;
    }
    
    .body-content {
        padding-top: 50px;
        margin-left: 65px;
        padding-right: 15px;
    }

    /* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
    .dl-horizontal dt {
        white-space: normal;
    }

    /* Set width on the form input elements since they're 100% wide by default */
    input,
    select,
    textarea {
        max-width: 280px;
    }

    hr {
        border-top-color: rgb(166,140,105);
    }

    /* main colour of the top of the page */
    .navbar {
        padding-right: 5%;
        background-color: rgb(0,126,229);
    }

    /* (B) Logo */
    .navbar-inverse .navbar-brand {
        color: white;
        font-size: 30px;
    }

    /* (B) Logo on hover/focus */
    .navbar-inverse .navbar-brand:hover,
    .navbar-inverse .navbar-brand:focus {
        color: rgb(166,140,105);
        background-color: transparent;
    }

    /* The navigational links at the top of the page */
    .navbar-inverse .navbar-nav > li > a {
        color: rgb(89,68,51);
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        color: white;
    }

    /* The navigational links during hover/focus at the top of the page */
    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus {
        color: rgb(166,140,105);
        background-color: transparent;
    }

    .register-now, .register-now:hover, register-now:focus {
        background-color: rgb(0,126,229);
    }

    .register-now a {
        color: rgb(89,68,51);
        text-decoration: none;
    }

    .register-now a:hover,
    .register-now a:focus {
        color: rgb(166,140,105);
    }

    #list-view {
        border-radius: 2%;
        height: 85vh;
        top: 5px;
        left: 5px;
    }

    #main-view {
        margin-top: 100px !important;
        height: 55vh;
        left: 10px; 
        top: 5px;
        margin-top: 10vh;
        overflow-y:scroll;
        border-radius: 2%;
    }

    .post-image{
        padding-left: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 400px;
        width: auto;
    }

    #head-view {
        padding-top: 10px;
        height: 19vh;
        min-height: 120px;
        left: 10px;
        top: 5px;
    }

    #chatBox{
        background-color: rgb(222,222,222);
        z-index: 5;
        margin-top: 0px !important;
    }

    #post-content{
        border: rgb(145, 199, 244) 2px solid;
        box-shadow: 0 0 1px #719ECE;
        resize: none;
    }

    #nav-button-friends, #nav-button-groups, #nav-button-events, #nav-button-chat, #nav-button-settings{
        height: 50px;
        width: 50px;
    }

    #nav-button-friends{
        background:transparent url('/Content/Assets/friends.png') center top no-repeat;
    }
    
    #nav-button-groups{
        background:transparent url('/Content/Assets/groups.png') center top no-repeat;
    }

    #nav-button-events{
        background:transparent url('/Content/Assets/events.png') center top no-repeat;
    }

    #nav-button-chat{
        background:transparent url('/Content/Assets/chat.png') center top no-repeat;
    }

    #nav-button-settings{
        position: fixed;
        bottom: 0px;
        left: 7px;
        background:transparent url('/Content/Assets/settings.png') center top no-repeat;
    }

    #nav-button-friends:hover{
        background:transparent url('/Content/Assets/friends-hover.png') center top no-repeat;
    }
    
    #nav-button-groups:hover{
        background:transparent url('/Content/Assets/groups-hover.png') center top no-repeat;
    }

    #nav-button-events:hover{
        background:transparent url('/Content/Assets/events-hover.png') center top no-repeat;
    }

    #nav-button-chat:hover{
        background:transparent url('/Content/Assets/chat-hover.png') center top no-repeat;
    }

    #nav-button-settings:hover{
        background:transparent url('/Content/Assets/settings-hover.png') center top no-repeat;
    }

    .sidebar-nav {
        position: absolute;
        right: 7px;
    }

    #sidebar-wrapper{
        background-color: rgb(0,126,229) !important;
    }

    .list-item, .content-item {
        list-style: none;
        font-size: 12px;
        left: -55px;
        background-color: rgb(233,233,233);
        border-radius: 2%;
        margin-left: -45px;
        margin-top: 5px;  
    }

    .post-profile-image, .list-item img{
        height: 50px;
        width: auto;
    }

    .profile-header-image{
        height: 100px;
        width: auto;
    }

    .profile-header{
        display: inline-block;
        vertical-align: top;
        margin-left: 20px;
    }

    .profile-description, .profile-description-time{
        font-size: 10px;
        margin-left: 140px;
        bottom: 100px;
    }

    .profile-description-time{
        font-weight: bold;
    }

    #registerLink, #loginLink{
        color: white;
    }

    .feed-post{
        list-style: none;
        padding-bottom: 10px;
        border-radius: 2%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .list-name, .post-user-name{
        margin-left: 10px;
    }

   .post-user-name{
        display: inline;
        color: rgb(26,18,2);
        font-weight: bold;
    }
    .fa{
        margin-left: 10px;
    }

    .post-text{
        margin-left: 80px;
        margin-bottom: 25px;
    }

    .new-post{
        float: right;
        margin-top: -60px;
    }

    .like-count{
        color: green;
    }

    .burst-count{
        color: red;
        position:absolute;
        left: 33px;
        top: 0px;
    }

    .feed-post, .burst-feed-post, .liked-feed-post{
        background-color: rgb(233,233,233);
        margin-bottom: 20px;
    }

    .liked-feed-post{
        border: 1px solid green;
    }

    .burst-feed-post{
        border: 1px solid red;
    }

    .bootstrap-filestyle{
        display: inline;
        left: 140px;
    }

    .btn{
        margin-top: 2px;
    }

    li{
        list-style-type: none;
    }

    #search-bar, .create-button{
        margin-top: 5px;
        margin-bottom: 5px;
        width: calc(100% + 50px); 
        margin-left: -46px;
    }

    .bootstrap-filestyle{
        left: 5px;
    }

    .btn-create{
        position: absolute;
        left: 230px !important;
    }

    .add-friend-img{
        position: relative;
        margin-left: 90%;
        top: -25px;
    }

    .friendrequest-icon-container{
        display: inline;
        padding-bottom: -50px;
    }

    #content_text{
        margin-top: 10px;
    }

    a{ 
        cursor: pointer; 
    }
    
    .post-feedback{
        position: absolute;
        margin-top: -60px;
        padding-left: 5px !important;
    }

    .search-header{
        margin-left: -45px;
        padding-left: 10px;
        margin-top: 20px;
        padding-bottom: 10px;
        background-color: rgb(145, 199, 244);
    }
}

/* Animation Logic */

#bubble1 {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    z-index: -1;
    background-color: red;
    position: absolute;
    -webkit-animation-name: bubbles1; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 55s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: bubbles1;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

#bubble2 {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: -1;
    background-color: rgb(255,63,127);
    position: absolute;
    -webkit-animation-name: bubbles2; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 40s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: bubbles2;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}

#bubble3 {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 1;
    background-color: rgb(241,220,157);
    position: absolute;
    -webkit-animation-name: bubbles3; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 60s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: bubbles3;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

#bubble4 {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    z-index: -1;
    background-color: rgb(214,221,84);
    position: absolute;
    -webkit-animation-name: bubbles4; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 60s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: bubbles4;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes bubbles1 {
    0% {
        left: 20%;
        top: 20%;
    }

    25% {
        left: 30%;
        top: 40%;
    }

    50% {
        left: 40%;
        top: 20%;
    }

    75% {
        left: 10%;
        top: 60%;
    }

    100% {
        left: 20%;
        top: 20%;
    }
}

@-webkit-keyframes bubbles2 {
    0% {
        left: 50%;
        top: 40%;
    }

    25% {
        left: 30%;
        top: 32%;
    }

    50% {
        left: 15%;
        top: 15%;
    }

    75% {
        left: 65%;
        top: 68%;
    }

    100% {
        left: 50%;
        top: 40%;
    }
}

@-webkit-keyframes bubbles3 {
    0% {
        left: 38%;
        top: 32%;
    }

    25% {
        left: 30%;
        top: 15%;
    }

    50% {
        left: 40%;
        top: 55%;
    }

    75% {
        left: 10%;
        top: 48%;
    }

    100% {
        left: 38%;
        top: 32%;
    }
}

@-webkit-keyframes bubbles4 {
    0% {
        left: 42%;
        top: 45%;
    }

    25% {
        left: 33%;
        top: 77%;
    }

    50% {
        left: 44%;
        top: 22%;
    }

    75% {
        left: 77%;
        top: 44%;
    }

    100% {
        left: 42%;
        top: 45%;
    }
}
