/* Very Small Screens, will most like not be used but is nice to have*/
@media (max-width: 319px) {
    body {
        padding-bottom: 20px;
        height: 100%;
        background-color: rgb(173,223,227);
    }
    
    .body-content {
        padding-top: 50px;
        margin-left: 65px;
        padding-right: 15px;
    }

    /* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
    .dl-horizontal dt {
        white-space: normal;
    }

    /* Set width on the form input elements since they're 100% wide by default */
    input,
    select,
    textarea {
        max-width: 280px;
    }

    hr {
        border-top-color: rgb(166,140,105);
    }

    /* main colour of the top of the page */
    .navbar {
        padding-right: 5%;
        background-color: rgb(240,229,201);
    }

    /* (B) Logo */
    .navbar-inverse .navbar-brand {
        color: rgb(89,68,51);
        font-size: 30px;
    }

    /* (B) Logo on hover/focus */
    .navbar-inverse .navbar-brand:hover,
    .navbar-inverse .navbar-brand:focus {
        color: rgb(166,140,105);
        background-color: transparent;
    }

    /* The navigational links at the top of the page */
    .navbar-inverse .navbar-nav > li > a {
        color: rgb(89,68,51);
        font-family: 'Lato', sans-serif;
        font-weight: bold;
    }

    /* The navigational links during hover/focus at the top of the page */
    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus {
        color: rgb(166,140,105);
        background-color: transparent;
    }

    .register-now, .register-now:hover, register-now:focus {
        background-color: rgb(240,229,201);
    }

    .register-now a {
        color: rgb(89,68,51);
        text-decoration: none;
    }

    .register-now a:hover,
    .register-now a:focus {
        color: rgb(166,140,105);
    }

    #list-view {
        border: red 1px dashed;
        height: 80vh;
        min-width: 79vw;
        top: 15px;
    }

    #main-view {
        padding-top: 10px;
        border: red 1px dashed;
        height: 60vh;
        left: 15px;
        top: 15px;
        margin-top: 1vh;
    }

    #head-view {
        padding-top: 10px;
        border: red 1px dashed;
        height: 100px;
        min-width: 79vw;
        left: 15px;
        top: 15px;
    }

    .nav-image {
        margin-left: -3px;
    }

    .sidebar-nav {
        position: absolute;
        right: 7px;
    }

    .setting-icon {
        position: fixed;
        bottom: 0px;
        left: 7px;
    }

    .list-item, .content-item {
        padding-top: 10px;
        list-style: none;
        left: -55px;
        border: green 1px dashed;
        margin-left: -40px;
        margin-top: 5px;
    }
}




/* Aim for phone size here */

@media (min-width: 320px) and (max-width: 767px) {
    body {
        padding-bottom: 20px;
        height: 100%;
        background-color: rgb(173,223,227);
    }
    
    .body-content {
        padding-top: 50px;
        padding-right: 15px;
    }

    /* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
    */
    .dl-horizontal dt {
        white-space: normal;
    }

    /* Set width on the form input elements since they're 100% wide by default */
    input,
    select,
    textarea {
        max-width: 280px;
    }

    /* main colour of the top of the page */
    .navbar {
        padding-right: 5%;
        background-color: rgb(240,229,201);
    }

    /* (B) Logo */
    .navbar-inverse .navbar-brand {
        color: rgb(89,68,51);
        font-size: 30px;
    }

    /* (B) Logo on hover/focus */
    .navbar-inverse .navbar-brand:hover,
    .navbar-inverse .navbar-brand:focus {
        color: rgb(166,140,105);
        background-color: transparent;
    }

    /* The navigational links at the top of the page */
    .navbar-inverse .navbar-nav > li > a {
        color: rgb(89,68,51);
        font-family: 'Lato', sans-serif;
        font-weight: bold;
    }

    /* The navigational links during hover/focus at the top of the page */
    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus {
        color: rgb(166,140,105);
        background-color: transparent;
    }

    .register-now, .register-now:hover, register-now:focus {
        background-color: rgb(240,229,201);
        border-width: medium;
        border-color: rgb(166,140,105);
    }

    .register-now a {
        color: rgb(89,68,51);
        text-decoration: none;
    }

    .register-now a:hover,
    .register-now a:focus {
        color: rgb(166,140,105);
    }

    #list-view {
        border: red 1px dashed;
        top: 5px;
        left: 65px;
        width: 68vw;
        min-width: 300px;
        max-height: 200px;
        overflow: scroll;
        overflow-x: hidden;
    }

    #main-view {
        padding-top: 10px;
        border: red 1px dashed;
        height: 60vh;
        left: 80px;
        top: 15px;
        min-width: 300px;
        margin-top: 1vh;
    }

    #head-view {
        padding-top: 10px;
        border: red 1px dashed;
        height: 30vh;
        left: 80px;
        top: 10px;
        min-width: 300px;
        margin-top: 1vh;
    }

    .nav-image {
        margin-left: -3px;
    }

    .sidebar-nav {
        position: absolute;
        right: 7px;
    }

    .setting-icon {
        position: fixed;
        bottom: 0px;
        left: 7px;
    }

    .list-item, .content-item {
        padding-top: 10px;
        list-style: none;
        left: -55px;
        border: green 1px dashed;
        margin-left: -40px;
        margin-top: 5px;
    }

    hr {
        border-top-color: rgb(166,140,105);
    }
}

/* Regular size screens */

@media (min-width: 768px) {
    body {
        padding-bottom: 20px;
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    .body-content {
        padding-top: 50px;
        margin-left: 65px;
        padding-right: 15px;
    }

    /* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
    .dl-horizontal dt {
        white-space: normal;
    }

    /* Set width on the form input elements since they're 100% wide by default */
    input,
    select,
    textarea {
        max-width: 280px;
    }

    hr {
        border-top-color: rgb(166,140,105);
    }

    /* main colour of the top of the page */
    .navbar {
        padding-right: 5%;
        background-color: rgb(0,126,229);
    }

    /* (B) Logo */
    .navbar-inverse .navbar-brand {
        color: white;
        font-size: 30px;
    }

    /* (B) Logo on hover/focus */
    .navbar-inverse .navbar-brand:hover,
    .navbar-inverse .navbar-brand:focus {
        color: rgb(166,140,105);
        background-color: transparent;
    }

    /* The navigational links at the top of the page */
    .navbar-inverse .navbar-nav > li > a {
        color: rgb(89,68,51);
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        color: white;
    }

    /* The navigational links during hover/focus at the top of the page */
    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus {
        color: rgb(166,140,105);
        background-color: transparent;
    }

    .register-now, .register-now:hover, register-now:focus {
        background-color: rgb(0,126,229);
    }

    .register-now a {
        color: rgb(89,68,51);
        text-decoration: none;
    }

    .register-now a:hover,
    .register-now a:focus {
        color: rgb(166,140,105);
    }

    #list-view {
        height: 80vh;
        top: 5px;
        left: 5px;
    }

    #main-view {
        padding-top: 10px;
        height: 65vh;
        left: 10px;
        top: 5px;
        margin-top: 1vh;
        overflow-y:scroll;
    }

    #head-view {
        padding-top: 10px;
        height: 19vh;
        min-height: 120px;
        left: 10px;
        top: 5px;
    }

    #post-content{
        border: rgb(145, 199, 244) 2px solid;
        box-shadow: 0 0 1px #719ECE;
        resize: none;
    }

    #nav-button-friends, #nav-button-placeholder, #nav-button-events, #nav-button-chat, #nav-button-settings{
        height: 50px;
        width: 50px;
    }

    #nav-button-friends{
        background:transparent url('/Content/Assets/friends.png') center top no-repeat;
    }
    
    #nav-button-placeholder{
        background:transparent url('/Content/Assets/groups.png') center top no-repeat;
    }

    #nav-button-events{
        background:transparent url('/Content/Assets/events.png') center top no-repeat;
    }

    #nav-button-chat{
        background:transparent url('/Content/Assets/chat.png') center top no-repeat;
    }

    #nav-button-settings{
        position: fixed;
        bottom: 0px;
        left: 7px;
        background:transparent url('/Content/Assets/settings.png') center top no-repeat;
    }

    #nav-button-friends:hover{
        background:transparent url('/Content/Assets/friends-hover.png') center top no-repeat;
    }
    
    #nav-button-placeholder:hover{
        background:transparent url('/Content/Assets/placeholder-hover.png') center top no-repeat;
    }

    #nav-button-events:hover{
        background:transparent url('/Content/Assets/events-hover.png') center top no-repeat;
    }

    #nav-button-chat:hover{
        background:transparent url('/Content/Assets/chat-hover.png') center top no-repeat;
    }

    #nav-button-settings:hover{
        background:transparent url('/Content/Assets/settings-hover.png') center top no-repeat;
    }

    .sidebar-nav {
        position: absolute;
        right: 7px;
    }

    #sidebar-wrapper{
        background-color: rgb(0,126,229) !important;
    }

    .setting-icon {

    }

    .list-item, .content-item {
        list-style: none;
        font-size: 12px;
        left: -55px;
        border: grey 2px solid;
        margin-left: -52px;
        margin-top: 2px;        
    }

    #registerLink, #loginLink{
        color: white;
    }

    .feed-post{
        border: rgb(145, 145, 145) 1px solid;
        list-style: none;
        margin-top: 15px;
    }

    .post-user-name{
        display: inline;
        color: rgb(26,18,2);
        font-weight: bold;
    }
    .fa{
        margin-left: 10px;
    }

    .post-text{
        margin-left: 50px;
    }

    .new-post{
        float: right;
    }

    .bootstrap-filestyle{
        display: inline;
        left: 140px;
    }

    .btn{
        margin-top: 2px;
    }
}

/* Animation Logic */

#bubble1 {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    z-index: -1;
    background-color: red;
    position: absolute;
    -webkit-animation-name: bubbles1; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 55s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: bubbles1;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

#bubble2 {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: -1;
    background-color: rgb(255,63,127);
    position: absolute;
    -webkit-animation-name: bubbles2; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 40s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: bubbles2;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}

#bubble3 {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 1;
    background-color: rgb(241,220,157);
    position: absolute;
    -webkit-animation-name: bubbles3; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 60s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: bubbles3;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

#bubble4 {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    z-index: -1;
    background-color: rgb(214,221,84);
    position: absolute;
    -webkit-animation-name: bubbles4; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 60s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: bubbles4;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes bubbles1 {
    0% {
        left: 20%;
        top: 20%;
    }

    25% {
        left: 30%;
        top: 40%;
    }

    50% {
        left: 40%;
        top: 20%;
    }

    75% {
        left: 10%;
        top: 60%;
    }

    100% {
        left: 20%;
        top: 20%;
    }
}

@-webkit-keyframes bubbles2 {
    0% {
        left: 50%;
        top: 40%;
    }

    25% {
        left: 30%;
        top: 32%;
    }

    50% {
        left: 15%;
        top: 15%;
    }

    75% {
        left: 65%;
        top: 68%;
    }

    100% {
        left: 50%;
        top: 40%;
    }
}

@-webkit-keyframes bubbles3 {
    0% {
        left: 38%;
        top: 32%;
    }

    25% {
        left: 30%;
        top: 15%;
    }

    50% {
        left: 40%;
        top: 55%;
    }

    75% {
        left: 10%;
        top: 48%;
    }

    100% {
        left: 38%;
        top: 32%;
    }
}

@-webkit-keyframes bubbles4 {
    0% {
        left: 42%;
        top: 45%;
    }

    25% {
        left: 33%;
        top: 77%;
    }

    50% {
        left: 44%;
        top: 22%;
    }

    75% {
        left: 77%;
        top: 44%;
    }

    100% {
        left: 42%;
        top: 45%;
    }
}
