@model IEnumerable<posts>
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div id="list-view" class="col-xs-3">
              <ul>
                  @foreach (var post in Model) { 
                    <li class="list-item">@Html.ActionLink(post.content_text, "#", new { id = 5 })</li>
                  }                  
              </ul>  
        </div>
        <div class="row">
            <div id="new-post" class="col-xs-8">
                <div>insert post here!</div>
            </div>
            <div id="main-view" class="col-xs-8">
                <ul>
                    @foreach (var post in Model) { 
                        <li class="list-item">@Html.ActionLink(post.content_text, "Post", new {id = 5})</li>
                    }
                </ul>  
            </div>
        </div>
    </div>
</div>