@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div id="list-view" class="col-xs-3">
            <ul id="list-view-items"></ul>
        </div>
        <div class="row">
            <div id="head-view" class="col-xs-8">
                <div>
                    
                </div>
            </div>
            <div id="main-view" class="col-xs-8">
                <ul>
                        
                </ul>
            </div>
        </div>
    </div>
</div>