@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div id="list-view" class="col-xs-3">
              <ul>
                  <li class="list-item"><a href="">John Doe 1</a></li>
                  <li class="list-item"><a href="">John Doe 2</a></li>
                  <li class="list-item"><a href="">John Doe 3</a></li>
                  <li class="list-item"><a href="">John Doe 4</a></li>
                  <li class="list-item"><a href="">John Doe 5</a></li>
                  <li class="list-item"><a href="">John Doe 6</a></li>
                  <li class="list-item"><a href="">John Doe 7</a></li>
                  <li class="list-item"><a href="">John Doe 8</a></li>
                  <li class="list-item"><a href="">John Doe 9</a></li>
                  <li class="list-item"><a href="">John Doe 10</a></li>
                  <li class="list-item"><a href="">John Doe 11</a></li>
                  <li class="list-item"><a href="">John Doe 12</a></li>
                  <li class="list-item"><a href="">John Doe 13</a></li>
                  <li class="list-item"><a href="">John Doe 14</a></li>
                  <li class="list-item"><a href="">John Doe 15</a></li>
                  <li class="list-item"><a href="">John Doe 16</a></li>
                  <li class="list-item"><a href="">John Doe 17</a></li>
                  <li class="list-item"><a href="">John Doe 18</a></li>
                  <li class="list-item"><a href="">John Doe 19</a></li>
                  <li class="list-item"><a href="">John Doe 20</a></li>
                  <li class="list-item"><a href="">John Doe 21</a></li>
                  <li class="list-item"><a href="">John Doe 22</a></li>
                  <li class="list-item"><a href="">John Doe 23</a></li>
                  <li class="list-item"><a href="">John Doe 24</a></li>
                  <li class="list-item"><a href="">John Doe 25</a></li>
                  <li class="list-item"><a href="">John Doe 26</a></li>
                  <li class="list-item"><a href="">John Doe 27</a></li>
                  <li class="list-item"><a href="">John Doe 28</a></li>
                  <li class="list-item"><a href="">John Doe 29</a></li>
                  
              </ul>  
        </div>
        <div class="row">
            <div id="new-post" class="col-xs-8">
                <div>insert post here!</div>
            </div>
            <div id="main-view" class="col-xs-8">
                <ul>
                    <li class="content-item">This is a post</li>
                    
                </ul>  
            </div>
        </div>
    </div>
</div>