@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div id="list-view" class="col-xs-3">
              <ul>
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                  <li>6</li>
                  <li>7</li>
                  <li>8</li>
              </ul>  
        </div>
        <div class="row">
            <div id="new-post" class="col-xs-8">
                <div>insert post here!</div>
            </div>
            <div id="main-view" class="col-xs-8">
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                </ul>  
            </div>
        </div>
    </div>
</div>