@{
    ViewBag.Title = "Home Page";
}

<div class="frontPageContent">
    <div id="bubble1"></div>
    <div id="bubble2"></div>
    <div id="bubble3"></div>
    <div id="bubble4"></div>
    <image src="@Url.Content("~/Content/Assets/trees.png")" class="img-responsive"></image>
    <p class="lead">Bubblespace is awesome.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn More</a></p>

</div>


